AWS_LPU_CLIENT_ID=
AWS_LPU_CLIENT_SECRET=
AWS_LPU_REDIRECT_URI=

GOOGLE_SERVICE_ACCOUNT_EMAIL="SERVICE_aCCOUNT_EMAIL"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SPREADSHEET_ID=YOUR_GOOGLE_SPREADSHEET_ID

AWS_LPU_MAIL_API_KEY=your_mail_auth_key

AWS_LPU_WHATSAPP_GROUP_INVITE_URL=https://chat.whatsapp.com/YOUR_INVITE_CODE

RECRUITMENT_WHATSAPP_GROUP_INVITE_URL=https://chat.whatsapp.com/RECRUITMENT_INVITE_CODE